{% extends 'padre.html' %}

{% load static %}

{% block content %}
<main>
    <a href="new_professors" class="btn btn-primary btn-sm">Agregar Nuevo Profesor</a>
    <div class="container">
        <div class="row">
            <div class="col-12  col-md-4">
                <div class="card">
                    <img src="{% static 'AppCursos/assets/img/student_01.jpeg' %}" />
                    <div class="card-body">
                        <h5 class="card-title">Valentina Rodríguez</h5>
                        <p class="card-text">Profesor</p>
                        <a class="btn btn-danger" href="">Enviar mensaje</a>
                    </div>
                </div>
            </div>

            <div class="col-12  col-md-4">
                <div class="card">
                    <img src="{% static 'AppCursos/assets/img/student_02.jpeg' %}" />
                    <div class="card-body">
                        <h5 class="card-title">Sofía García</h5>
                        <p class="card-text">Profesor</p>
                        <a class="btn btn-danger" href="">Enviar mensaje</a>
                    </div>
                </div>
            </div>

            <div class="col-12  col-md-4">
                <div class="card">
                    <img src="{% static 'AppCursos/assets/img/student_03.jpeg' %}" />
                    <div class="card-body">
                        <h5 class="card-title">Juan Martínez López</h5>
                        <p class="card-text">Profesor</p>
                        <a class="btn btn-danger" href="">Enviar mensaje</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        {% for n in professors %}

        <div class="container">
            <div class="col-12  col-md-4">
                <div class="card">
                    <img src="{% static 'AppCursos/assets/img/student_02.jpeg' %}" />
                    <div class="card-body">
                        <h5 class="card-title">{{n.professors_name}} {{n.professors_lastname}}</h5>
                        <p class="card-text">Legajo Nº: {{n.file_number}}.</p>
                        <a class="btn btn-danger" href="">Enviar mensaje</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </main>

{% endblock %}